.container {
  width : 1366px;
  height :495px;
  margin: 0px 0px;
  display : flex;
  background-color : #EEEDDE;
  justify-content : space-between ;
   align-items : stretch; 
   color :rgba(47, 54, 64, 1);
}

.container div {
  height: 105px;
  /* background-color : rgb(255,0,0); //merah */
}

.call {
  margin-left :100px;
  margin-top : 48px;
  margin-bottom : 152px;
}
.gold {
  margin-top : 10px;
  margin-right :100px;
}
.span {
  margin-left : 10px;
  margin-right : 30px;
  margin-top :  10px;
  margin-bottom : 20px;
  text-align : top;
}

.fa-phone {
  font-size : 30px;
  color : rgba(47, 54, 64, 1);
  margin-right : 90px
  height: 30px;
  width: 30px;
}

img {
  width : 100px;
  height: 100px;
  aspect-ratio: auto 150 / 100;
  width: 150px;
  height: 100px;
  margin-left : 10px;
  margin-top : 10px;
}

.email {
  text-align : top;
  color :rgba(47, 54, 64, 1);
  color : #2F3640;
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
 padding: 24px;
 position: absolute;
 width: 243px;
 height: 178px;
 left: 0px;
 top: 0px;
 box-sizing: border-box;
 border-radius: 10px;
 margin-top : 140px;
 margin-left : 100px;
 border : 3px solid orange;
}
.email-icon {
  margin-left : 10px;
  margin-top : 30px;
  margin-bottom : 10px;
  text-align : left;
  Font-family: "Poppins";
  font-size   :16px;
 Line height  :24px;
 font-style: normal;

}
.callnow {
  border : 3px
  border-radius : 10px;
  margin-top : 0px;
  margin-left : 10px;
  margin-right : 10px;
  margin-bottom : 30px;
  padding : 10px;
  padding-left : 30px;
  padding-right : 30px;
  background-color :  rgba(255, 117, 39, 0.2);
  color : orange;
  border : 1px solid orange;
  border-radius : 4px
}
.container items1 {
  width: 100%;
  display: flex;
  background-color: white;
  float: center;
  border-sizing: border-box;
  margin :20px;
}

.messageelement {
  background-color: #EEEDDE;
  display: flex;
  color: 2F3640;
  font-family:'Poppins';
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #2F3640;
}

.address {
  text-align : top;
  Font-family: "Poppins";
  font-size   : 16px;
  Line height  :24px;
 font-style: normal;
 border: 1px solid orange;
 margin-left : 300px;
 margin-right: 700px;
  margin-top : 20px;
  display: flex;
}

.title {
  text-align : top;
  Font-family: "Poppins";
 font-style: normal;
 margin-top : -160px;
 margin-right : 100px;
  margin-bottom : 20px;
  margin-left : 700px;

}

.fa-square-envelop {
  height: 100px;
  width: 30px;
}