header {
  color: #203239;
  background-color: #E5E5E5;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  height: 90px;
  border-bottom: 1px solid black;
}

.top{
  padding: 25px 125px;
}

.space {
  margin-bottom: 25px;
  height: 10px;
}
.header-left i {
  font-size: 35px;
  padding: 0px 2px;
}

.header-left{
  float: left;
  font-size: 25px;
}

.header-right{
  float:right;
}

.header-right a {
  line-height: 50px;
    font-weight: normal;
    color: #203239;
    display: block;
    float: left;
    font-size: 18px;
    transition: all 0.5s;
    margin-left: 85px;
}

.top-element{
  color: #203239;
  background-color: #E5E5E5;
  padding: 75px 120px;
  transition: all 0.5s;
}

.top-element h1{
  font-size: 75px;
  margin: 0px 0px 20px 0px;
}

.top-element p.ket {
  color: rgb(136 144 150);
  font-size: 20px;
  width: 45%;
  line-height: 170%;
  margin: 0%;
}

.top-element input {
  background: white;
  width: 770px;
  height: 45px;
  border-radius: 15px;
  padding: 20px 30px;
  margin-top: 50px;
  font-size: 20px;
  border: transparent;
}

.top-element .btn-cari {
  color: white;
  background: #203239;
  width: 155px;
  height: 15px;
  float: right;
  border-radius: 8px;
  position: absolute;
  margin-top: 63px;
  margin-left: -170px;
  padding: 20px 0px 20px 0px;
  text-align: center;
  box-shadow: 0px 3px 10px 0rem rgb(32 50 57 / 72%);
}

.top-element .residen span {
  font-size: 70px;
  font-weight: bolder;
  color: #e84118;
}

.top-element .proper span {
  font-size: 70px;
  font-weight: bolder;
  color: #e84118;
}

.top-element .tahun span {
  font-size: 25px;
  font-weight: bolder;
  color: #e84118;
}

.top-element .btn-cari a {
  color: white;
}

.top-element .ket-cari {
  color: rgb(136 144 150);
  position: absolute;
  padding: 18px 5px;
}

.gambar {
  background: no-repeat -565px/240% url("https://padiumkm.id/public/products/40056/466141/rumah-sumarecon.1637833613.jpg");
  width: 530px;
  height: 670px;
  float: right;
  border: 1px solid black;
}
.top-element h1 p {
  font-size: 50px;
  margin: 15px 0px;
}

a {
  text-decoration: none;
}

body {
  background-color:white;
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style: none;
    float: left;
    padding: 75px 120px 0px 0px;
    width: 175px;
    font-size: 70px;
    font-weight: bold;
}

ul {
  margin-left: -40px;
}

.top-element p.penjelasan{
  width: 165px;
  font-size: 16px;
  color: #b3aeb5;
  margin-top: 0%;
  padding: 0px 130px 0px 0px;
  float: left;
}

.clear {
  clear: left;
}